html {
    scroll-behavior: smooth;
}

body {
   margin: 0px;
   padding: 0px;
   font-size: 24px;
   width: 100%;
   font-family: "Times New Roman", serif; 
   background-image: url("../img/mold_bg.jpg");
   /* background-size: cover; */
   background-size: 33%;
   background-repeat: repeat;
   
}

h1 {
    font-size: 1em;
    font-weight: 100;
    margin: 0px;
}

h2 {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    margin: 0px;
    background: white;
    color: blue;
}

.bg {
    display: block;
    position: fixed;
    top: 0;
    min-width: 500px;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    font-size: 0;
}

img.bg-img {
    display: inline-block;
    position: relative;
    min-width: 500px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* height: 100%; */
    /* background-image: url("/img/midterm_poster_bg.jpg"); */
    /* background-repeat: no-repeat;
    background-size: 100%; */
}

img.bg-triple {
    display: inline-block;
    position: relative;
    width: 33%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

img.full-width {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

img.overlay {
    display: block;
    position: absolute;
    width: 200%;
    margin-left: -50%;
    pointer-events: none;
}

.top-left {
    display: block;
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
}

.top-right {
    display: block;
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
}

.top {
    display: block;
    position: fixed;
    width: 90%;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    color: blue;
    z-index: 100;
}
.top h1 {
    background-color: white;
    padding: 5px;
}

.nav {
    display: inline-block;
    position: fixed;
    top: 60px;
    left: 5%;
    background-color: white;
    padding: 5px;
}

.nav p {
    margin: 0px;
    line-height: auto;
}

.thesis {
    display: block;
    position: absolute;
    width: 40%;
    top: 100px;
    right: 10%;
    max-height: 0px;
    overflow: scroll;
    background: white;
    /* padding: 5px; */
    transition: max-height 0.2s;
}

.thesis p {
    margin: 5px;

}

.thesis-container{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 55vh;
}

.thesis2 {
    display: block;
    position: absolute;
    right: 0px;
    width: 50%;
    max-height: 50vh;
    overflow: scroll;
    background: white;
    padding: 5px; 
    transition: max-height 0.2s;
}

.thesis2 p {
    color: blue;
    margin: 0px;
    

}

.main-column {
    padding-top: 75px;
    /* padding-left: 10%;
    padding-right: 10%; */
}

.content {
    display: block;
    position: relative;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}  

.twitch-embed {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 720px;
    transform: rotateY(0deg);
    transition: transform 0.2s;
    margin-bottom: 30px;
}
.twitch-embed:hover {
    transform: skew(-2deg);
}

.responsive {
    padding-top: 56.25%;
}

.twitch-embed iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.images {
    margin-top: 20px;
}

.images img {
    display: inline-block;
    position: relative;
    width: 49%;
}

.path {
    border: 0px;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 20%;
    font-size: 0;
}

.path img {
    display: inline-block;
    position: relative;
    width: 15%;
    padding: 2.5%;
    vertical-align: bottom;
}

.pdf iframe{
    display: inline-block;
    width: 100%;
    height: 400px;
    transition: transform 0.2s;
    border: 0px;
    margin-bottom: 30px;
}

.pdf iframe:hover{
    display: inline-block;
    width: 100%;
    height: 400px;
    transform: skew(-2deg);
}



@media only screen and (max-width: 720px){
    body {
        font-size: 18px;
    }

    .top {
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }

    .nav {
        left: 2%;
    }

    .thesis {
        display: block;
        position: absolute;
        width: 60%;
        top: 100px;
        right: 2%;
        max-height: 0px;
        overflow: scroll;
        background: white;
        padding: 0px;
    }
}